.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80%;
  height: 100vh;

  margin: auto;
}

.card-container {
  position: relative;

  width: 36rem;
  height: 22rem;
}

.background-block {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.card-container svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  font-size: 3rem;
}

.card-container svg:hover {
  cursor: pointer;
  color: blue;
}

article {
  position: absolute;
  width: 12rem;
  height: 100%;

  transition: all 1s;
}

.card {
  position: absolute;

  height: 20rem;
  width: 10rem;

  margin: 1rem;

  background-color: gray;

  border-radius: 1rem;

  text-align: center;
  text-transform: capitalize;

  box-sizing: border-box;

  user-select: none;
}

.card:hover {
  cursor: pointer;
}

.card img {
  height: 15rem;
  width: 10rem;

  object-fit: cover;
  object-position: top;

  pointer-events: none;
}

.prevCard {
  left: 0;
  opacity: 0;
  z-index: -1;
}

.activeCard {
  left: 50%;
  transform: translateX(-50%);
}

.nextCard {
  left: 100%;
  transform: translateX(-100%);
  opacity: 0;
  z-index: -1;
}

/* Carousel buttons */

.leftBtn {
  left: -1rem;
}

.rightBtn {
  right: -1rem;
}

/* Paginator styles */
.paginator {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  max-width: 30rem;
  height: 2rem;
}

.hr {
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: gray;
}

.dot {
  height: 1rem;
  width: 1rem;

  border-radius: 50%;

  background-color: gray;
  z-index: 1;

  transition: all 1s;
}

.dot.active {
  box-shadow: 0 0 0 4px grey;
  background-color: white;
}
